<h1>Edit <%=@product.name%> Form</h1>

<%= form_tag "/products/#{@product.id}", method: :patch do %>
  <div>
    Product Name: <input type="text" name="name"  value="<%= @product.name %>">
  </div>
  <div>
    Price <input type="text" name="price" value="<%= @product.price %>"
  </div>
  <div>
    Description: <input type="text" name="description" value="<%= @product.description %>"
  </div>
  <div>
    In Stock?: <input type="boolean" name="in_stock" value="<%= @product.in_stock %>"
  </div>
  </br>
  <input type="submit" value="Save Product">
<% end %>