<h1>All Products</h1>



<% @products.each_slice(3) do |three_products| %>
  <div class="row">
    <% three_products.each do |product| %>
        <div class="col-sm-4">
          <div class="card" style="width: 20rem;">
            <img class="card-img-top" src="<%=product.images.first.url%>" alt="No Image Found">
            <div class="card-body">
              <h4 class="card-title"><a href="/products/<%=product.id%>"><%=product.name%></a></h4>
              <p class="card-text"><%=product.description%></p>
              <p class="card-text"><%=number_to_currency(product.price)%></p>
               <a href="/products/<%=product.id%>/edit" class="btn btn-primary">Edit Product?</a>
              <a data-confirm="Are you sure?" data-method="delete" rel="nofollow" href="/products/<%=product.id%>" class="btn btn-primary">Delete Product?</a>
            </div>
          </div>
        </div>
    <% end %>  
  </div>     
<% end %>


</br>
</br>
<a href="/products/new">Create new product?</a>
</br>
</br>



