<!DOCTYPE html>
<html>
  <head>
    <title>MiniCapstone</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" href="/products">Homepage</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="/products?filter_by=less_than_two">Discounted Items</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="/products?sort_by=price_high">Sort By: Price (High to Low)</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="/products?sort_by=price_low">Sort By: Price (Low to High)</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="/products?random=random">Random Product</a>
              </li>

            </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="search" name="name">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>

    <% flash.each do |name, message| %>
      <div class="alert alert-<%=name%> alert-dimissable fade show" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
        <%= message %>
      </div> 
    <% end %>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
